* {
  padding: 0;
  margin: 0;
}

:root {
    --main-purple: #6a1b9a;
    --secondary-blue: #4a3aff;
    --main-text: #211f54;
}



/* Typography */

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .mont {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  h1 {
    color: var(-main-purple);
    font-size: 42px;
    line-height: 50px;
}


/* Navigation Bar */
.header {
  margin-bottom: 70px;
}

.top-nav {
  background-color: white;
  position: fixed;
  width: 100%;
  padding: 20px;
  top: 0;
  left: 0;
  justify-content: center;
  z-index: 9999;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}


ul li {
  position: relative;
  padding-right: 20px;
}

ul li a, ul li .dropdown-header {
  display: flex;
  align-items: center;
  padding: 20px 25px;
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 23px;
}

ul li:hover a {
  color: var(--main-purple);
  font-weight: 700;
}

ul li img {
  margin-left: 8px;
}

ul li .dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 999;
  display: none;
  min-width: 200px;
  border-radius: 20px;
  padding: 40px;
}

ul li .dropdown-content li {
  display: flex;
  justify-content: center;
  text-align: center;
}

ul li .dropdown-content li a {
  padding-bottom: 3px;
  color: black;
  font-size: 22px;
}

ul li .dropdown-content li a:hover {
  color: var(--main-purple);
}

ul li:hover .dropdown-content {
  display: block;
}

ul li .dropdown-2rows {
  display: none;
  grid-template-columns: repeat(2, 1fr);
}

ul li:hover .dropdown-2rows {
  display: grid;
}

ul li .dropdown-2rows li {
  padding: 5px 0;
}

ul li img {
  width: 16px;
  height: 16px;
}

ul li.nav-btn a {
  background-color: var(--secondary-blue);
  color: white;
  padding: 15px 25px;
  margin-top: 5px;
  border-radius: 20px;
}

ul li.nav-btn:hover a {
  background-color: var(--main-purple);
}

.logo-main {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-main .left-section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
}

.logo-main .left-section img {
  width: 40px;
  margin-left: 80px;
  margin-right: 20px;
  vertical-align: middle;
}

.logo-main .left-section .phone img {
  width: 35px;
}

.logo-main .left-section a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.logo-main .left-section a:hover {
  color: var(--main-purple);
  font-weight: bold;
}

.logo-main .middle-section {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo-main .middle-section img {
  width: 70px;
  height: 80px;
  cursor: pointer;
}


.logo-main .middle-section .logo-header {
  font-size: 30px;
  color: var(--main-purple);
  margin-left: 10px;
  line-height: 30px;
}

.logo-main .middle-section .logo-header span {
  color: var(--secondary-blue);
  font-size: 17px;
}

.logo-main .right-section {
  display: flex;
  margin-right: 80px;
  gap: 20px;
}

.logo-main .right-section img {
  background-color: #f2f1ff;
  padding: 10px 10px;
  border-radius: 20px;
}

.logo-main .right-section img:hover {
  background-color: var(--main-purple);
  cursor: pointer;
}

/* Hero Section */

.hero-section {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.hero-section::after { 
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-image: url(/Assets/images/purple\ circle.svg);
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.4;
  z-index: -1;
}

.hero-section .left-section {
  margin-left: 120px;
  max-width: 900px;
  z-index: -1;
}

.hero-section h1 {
  color: #211f54;
  font-size: 4rem;
  line-height: 60px;
  padding-bottom: 20px;
}

.hero-section p {
  color: var(--main-purple);
  font-size: 30px;
  line-height: 50px;
}

.hero-section .hero-btn {
  background-color: var(--main-purple);
  padding: 20px 20px;
  border-radius: 20px;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.hero-section .hero-btn:hover {
  background-color: red;
}


.hero-section .right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.hero-section .right-section img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}


/* Cards Section */

.card-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px;
}

.card-section::after { 
  content: "";
  position: absolute;
  width: 100%;
  height: 112%;
  top: 0;
  left: 0;
  background-image: url(/Assets/images/purple\ circle.svg);
  background-position: right;
  background-repeat: repeat-y;
  background-size: 630px auto;
  opacity: 0.4;
  z-index: -1;
}

.card-header {
  text-align: center;
  font-size: 50px;
  color: var(--main-text);
  padding-bottom: 20px;
}

.card-subheader {
  text-align: center;
  font-size: 25px;
  color: var(--main-purple);
}

.card-section .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 80px;
  padding-right: 80px;
  gap: 65px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card-section .cards .card {
  display: flex;
  flex-direction: column;
  box-shadow: 10px 15px 20px var(--main-purple);
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  max-width: 400px;
  height: 330px;
  justify-content: space-evenly;
}

.card-section .card-number {
  color: var(--main-purple);
  font-size: 60px;
}

.card-section .card-head {
  color: var(--main-text);
  font-weight: 700;
  font-size: 25px;
}

.card-section .card-head span {
  color: var(--main-purple);
  font-weight: bold;
  font-size: 30px;
}

.card-section .cards .card p {
 color: var(--main-text);
 line-height: 25px;
 font-size: 18px;
}

.card-btn {
  display: inline-flex;
  align-items: center;
  background-color: var(--main-purple);
  color: white;
  padding: 25px 40px;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
}

.card-btn:hover {
  background-color: var(--secondary-blue);
}

.card-btn img {
  width: 20px;
  padding-left: 8px;
  display: inline-block;
}

/* Diagnostics Homepage Circles */

.diagnostic-circles {
  margin-top: 80px;
  text-align: center;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.diagnostic-circles::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 95%;
  top: 1520px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.72);
  background-image: url(/Assets/images/A_simple_background_image_for_a_physical_therapy_c-p-1080.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  z-index: -1;

}

.diagnostic-circles h3 {
  color: var(--secondary-blue);
  letter-spacing: 8px;
  margin-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.diagnostic-circles h1 {
  color: var(--main-text);
  margin-top: 8px;
  letter-spacing: 4px;
  margin-bottom: 8px;
}

.diagnostic-circles p {
  font-weight: 300;
  color: var(--main-text);
  width: 100%;
  max-width: 600px;
  margin-bottom: 8px;
  margin: 0 auto;
  text-align: center;
  line-height: 25px;
}


.diagnostic-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 60px;
  justify-items: center;
}

.diagnostic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.diagnostic:hover {
  box-shadow: 0px 0px 80px var(--main-purple);
  cursor: pointer;
}

.diagnostic h1 {
  margin-top: 270px;
  font-size: 18px;
}

.diagnostic h1:hover {
  color: var(--main-purple);
  text-decoration: underline;
  font-size: 22px;
}

/* Testimonials */

.testimonials-section {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-bottom: 90px;
}

.testimonials-section h1 {
  text-align: center;
  color: var(--main-text);
  font-size: 42px;
  letter-spacing: 4px;
  padding: 0;
  margin-bottom: 20px;
}

.testimonials-section p {
  color: var(--main-text);
  font-size: 18px;
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
  font-weight: 300;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 100%;
  margin-top: 40px;
}

.testimonial {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 900px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.testimonial::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.testimonial:hover::before {
  background-color: rgba(74, 58, 255, 0.72);
}

.testimonial h3,
.testimonial p {
  position: relative;
  color: white;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin: 0;
}

.testimonial h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.testimonial p {
  font-size: 16px;
}

.testimonial:hover h3,
.testimonial:hover p {
  opacity: 1;
}

/* Form */

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form h1 {
  color: var(--main-text);
  font-size: 52px;
  margin-bottom: 12px;
}

.form p {
  color: var(--main-purple);
  font-size: 20px;
}

.form .map-info {
  margin-top: 35px;
  box-shadow: 0px 0px 30px 8px rgba(20, 20, 43, 0.06);
  border-radius: 20px;
  margin-right: 110px;
}

.form .map-link {
  display: block;
  background-image: url(/Assets//images/map-brix-templates-v2-.png);
  width: 600px;
  height: 430px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  text-decoration: none;
}

.form .email {
  margin-top: 60px;
  justify-content: center;
  text-align: center;
}

.form .phone {
  margin-top: 20px;
  padding-bottom: 40px;
  justify-content: center;
  text-align: center;
}

.form .form-right {
  margin-top: 140px;
  width: 600px;
  height: 580px;
  box-shadow: 20px 20px 20px 0px var(--main-purple);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--main-text);
  font-size: 16px;
  font-family: mont;
  padding-bottom: 10px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: mont;
}

textarea {
  resize: vertical;
  height: 70px; 
}

button {
  padding: 10px 20px;
  background-color: var(--main-purple); 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form-group button:hover {
  background-color: var(--secondary-blue);
}

/* Footer */

.footer {
  margin: 150px;
  padding: 20px;
  margin-bottom: 60px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-content: center;
  align-items: start;
  margin-bottom: 200px;
  gap: 20px;
}

.footer-section  {
  display: flex;
  flex-direction: column;
}

.footer-section h1 {
  color: var(--main-text);
  font-size: 25px;
  margin: 0;
  padding-bottom: 40px;
  text-decoration: underline;
}

.footer-section ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.footer-section ul li a {
  display: flex;
  align-items: start;
  padding: 0;
  text-align: left;
  padding-bottom: 30px;
  font-weight: 300;
  font-family: lato;
}

.footer-section ul li a:hover {
  font-weight: bold;
}

.footer-section .blog-text a {
  font-size: 18px;
}

.footer-section .blog-text a img {
  background-color: white;
}

.footer-section .blog-text img {
  padding-right: 10px;
}

.footer-section .form-group input{
  padding: 20px;
  border-radius: 20px;
}

.footer-section .form-group button {
  margin-top: 20px;
  border-radius: 20px;
  padding: 15px;
}

.footer-section .social-media {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: start;
}

.footer-section a {
  display: flex;
  align-items: center;
  text-align: left;
  text-decoration: none;
  font-size: 23px;
  font-weight: 300;
  color: black;
  font-family: lato;
}

.footer-section a img {
  align-items: center;
  background-color: #f2f1ff;
  border-radius: 50%;
  padding: 5px;
  margin-right: 15px;
}

.footer-section a:hover {
  color: var(--main-purple);
  font-weight: bold;
}

.bottom-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 0;
}

.bottom-footer .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom-footer .logo img {
  width: 60px;
  padding-right: 15px;
}

.bottom-footer .logo h1 {
  font-size: 15px;
  font-family: lato;
  color: var(--main-purple);
  line-height: 20px;
}

.bottom-footer .logo h1 span {
  color: var(--secondary-blue);
  font-size: 13px;
}

.bottom-footer p {
  color: black;
  font-size: 15px;
  font-family: lato;
  font-weight: 300;
}








